
div {
  width: 100%;
  height: 100vh;
  border: none;
}

.mainleft {
  width: 30%;
  float: left;
  height: 100vh;
  box-sizing: border-box;
  background: #b4d9b4;
}

.mainright {
  width: 70%;
  float: right;
  height: 100vh;
  box-sizing: border-box;
  background: #faf8ef;
  padding-left: 30px;
}

.name {
  text-align: center;
  color: rgb(21, 70, 30);
}

.profile {
  border-radius: 100%;

}

.menu {
  text-align: center;
  color: rgb(30, 55, 17);

}

.link {
  text-align: center;
}

footer {
  text-align: center;
  background-color: #e2e2e2;
  padding: 20px;
  font-size: 12px;
  color: #ffffff;
}

a {
  text-decoration: none;
}